body {
    background-color: white;
}

#clock {
    height: 500px;
    width: 800px;
    margin: auto;
    position: absolute;
    top: 10; left: 0; bottom: 0; right: 0;
    font-family: courier, monospace;
    text-align: center;
    color: #000066;
    font-size: 100px;
    font-weight: bold;
}

@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}

#animate-area   { 
    width: 100%; 
    height: 400px; 
    background-image: url(../images/clouds.jpeg);
    background-position: 0px 0px;
    background-repeat: repeat-x;

    animation: animatedBackground 40s linear infinite;
}